<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1"></meta>
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<title>index</title>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">页面详情</h3>
		</div>
		<div class="panel-body">
			<form th:object="${person}">
				<p>
					姓名：<input type="text" name="name" th:value="*{name}" />
				</p>
				<p>
					密码：<input type="text" name="age" th:value="*{age}" />
				</p>
			</form>
		</div>
	</div>
</body>
</html>